.notification {
    z-index: 9999;
}

.success {
    background-color: #43a047 !important;
    font-weight: 500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.error {
    background-color: #e53935 !important;
    font-weight: 500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.warning {
    background-color: #fb8c00 !important;
    font-weight: 500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.info {
    background-color: #2196f3 !important;
    font-weight: 500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 575px) {
    .notification {
        width: 90%;
        margin: 0 auto;
    }
}